*.md linguist-documentation
docs/** linguist-documentation

rust-hier-viewer/src/html/vendor/** linguist-vendored
rust-hier-viewer/src/html/template.html linguist-vendored
rust-hier-viewer/src/html/generated/*.js text eol=lf linguist-generated=true
rust-hier-viewer/src/html/generated/viewer-schematic-worker.js -whitespace
